#
# michael a.g.aïvázis <michael.aivazis@para-sim.com>
# (c) 1998-2026 all rights reserved
# ignore rules

# junk
*~

# the temporary pyre install dir
/.mm

# the default build locations
/examples/hello/builds
/examples/hello/products

# auctex lint
/doc/**/auto
# tex lint
/doc/**/*.aux
/doc/**/*.bbl
/doc/**/*.blg
/doc/**/*.log
/doc/**/*.nav
/doc/**/*.out
/doc/**/*.snm
/doc/**/*.toc
/doc/**/*.vrb
# ignore pdfs
/doc/**/*.pdf
# but not those that are figures
!doc/**/figures/*.pdf

# end of file
